# Виртуальное окружение
.venv/

# Папки сборки PyInstaller (теперь Git будет их пропускать)
Build/
dist/

# Кэш компиляции Python (тот самый pycache)
**/__pycache__/
*.pyc

# Настройки среды разработки PyCharm
.idea/

# КРИТИЧЕСКИЙ ФИКС ПУТИ: Игнорируем тяжелые веса нейросетей внутри папки App
App/Source/Models/*.pt
App/Source/Models/*.onnx

# Также пропишем игнорирование локальной базы данных и отчетов, чтобы не забивать репозиторий мусором
App/Data/Basedata/*.db
App/Data/history.json
Results/
