# Виртуальное окружение
.venv/

# Папки сборки PyInstaller (теперь Git будет их пропускать)
Build/
dist/

# Кэш компиляции Python (тот самый pycache)
**/__pycache__/
*.pyc

# Настройки среды разработки PyCharm
.idea/

# Игнорируем тяжелые веса нейросетей
Source/Models/*.pt
Source/Models/*.onnx
